@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;700&display=swap');

/* General css*/

html {
    font-family: David Libre, serif;
}

h1,h2,h3,h4 {
    font-weight: 700;
}

p{
    font-family: Cambria, 'Times New Roman', serif;
    font-size: 1.2em;
}

body {
    margin: 0;
    background-color: #DAC09F;
}
::selection{
    background-color: #AF6E45;
}

#navbar {
    background-color: #AF6E45;
    user-select: none;
}

.nav-content {
    margin: 0px auto 0 auto;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;

}

.logo {
    margin-left: 180px;
    height: 60px;
}

.logo img {
    height: 60px;
}

.navigation li{
    list-style-type: none;
    display: inline;
    text-align: right;
    margin: 0 0.5em 0 0.5em;
    font-size: 26px;
}

.navigation a {
    color: aliceblue;
    font-family: David Libre, serif;
    font-size: 26px;
}

.navigation {
    margin-right: 60px;
}

a {
    text-decoration: none;
}

.active {
    font-weight: 700;

}
.navigation a:hover {
    font-weight: 700;
}

#dropdown-menu {
    display: none;
}

.container, .container-2 {
    margin: 0px auto 0 auto;
    background-color: #DAC09F;
    max-width: 1300px;
    z-index: 10;
}

.footer {
    background: #AF6E45;
    display: flex;
    align-items: center;
    height: 70px;
}

.footer-content {
    align-items: center;
    justify-content: space-between;
    margin: 0px auto 0 auto;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
}

.contact-icons {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.contact-icons li{
    padding: 0 1.2em;
    list-style: none;
}
  
  .footer .footer-icons li:last-of-type {
    margin-right: 0;
  }
  
  .footer .social-footer-icons .fa {
    font-size: 1.3rem;
    color: #fefefe;
  }
  
  .footer .footer-icons .fa:hover {
    color: #4a4a4a;
    transition: color 0.3s ease-in;
}

.copyright {
    margin: 5px 0 0 0;
    color: aliceblue;
    font-size: 0.85em;
    user-select: none;
}

.footer a {
    margin-left: 1%;
}

/* index.html css*/

@media only screen and (max-width: 1200px) {
.navigation a {
    font-size: 30px;
}
}
@media only screen and (max-width: 992px) {
.logo {
    margin-left: 5%;
}
.navigation {
    padding-right: 10px;
    margin-right: 10px;
}
}
@media only screen and (max-width: 720px) {

#dropdown-menu {
    display: inline;
    margin-right: 2%;
}
.navigation {
    display: none;
}

.mobile-navigation {
    display: flex;
    flex-direction: column;
}

.navigation li {
    text-align: left;
}

.navigation {
    position: absolute;
    top: 70px;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #AF6E45;
    justify-content: center;
    align-items:flex-end;
}
.navigation li {
    padding: 5px 0;
    margin: 0;
    width: 100%;
    text-align: right;
    border-top: 1px solid aliceblue;
}
.navigation a {
    margin-right: 10px;
}
.logo {
    margin-left: 2%;
}
}